<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediatheque - interface bibliothécaire</title>
</head>
<body>
    <header>
        <div class="container home">
            <h1>Bienvenue bibliothécaire!</h1>
            <button><a href="{% url 'deconnexion' %}">Se déconnecter!</a></button>
            <button><a href="{% url 'connexion' %}">Voir la page membre</a></button>
        </div>
    </header>
    <main>
        <div>
            <h2>MEMBRES</h2>
            <div>
                <h3>Ajouter un Membre</h3>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {{ CreationMembre.as_p }}
                    <input type="submit" value="Envoyer">
                </form>
                <h3>Liste des Membres</h3>
                <ul>
                    {% for Membre in Membres %}
                    <li> 
                        Nom : {{ Membre.prenom }} {{ Membre.nom }} 
                        <button><a href="{% url 'modifier_membre' Membre.id %}">Modifier</a></button>
                        <button><a href="{% url 'supprimer_membre' Membre.id %}">Supprimer</a></button>
                    </li>
                    {% empty %}
                    <li>Aucun membre ajouté pour le moment.</li>
                    {% endfor %}
               </ul>
            </div>
        </div>
        <div>
            {% for Media in Medias %}
                {% with Media.get_real_instance as instance %}
                    <p>{{ instance.nom }} - Type : {{ Media.get_type }} 
                        <br>
                        {% if instance.get_type == 'Livre' %}
                                - Auteur : {{ instance.auteur }} 
                                <br>
                                {% if Media.disponible %}
                                <form action="{% url 'emprunter' Media.id 0 %}" method="get" onsubmit="return redirectToEmprunt(this)">
                                    <select name="membre_id" required>
                                        <option value="" disabled selected>Choisir un membre</option>
                                        {% for Membre in Membres %}
                                            <option value="{{ Membre.id }}">{{ Membre.prenom }} {{ Membre.nom }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit">Emprunter</button>
                                </form>
                                <script>
                                    function redirectToEmprunt(form) {
                                        let membreId = form.membre_id.value;
                                        if (!membreId) {
                                            alert("Veuillez sélectionner un membre !");
                                            return false;
                                        }
                                        let actionUrl = form.action.replace('/0/', `/${membreId}/`);
                                        window.location.href = actionUrl;
                                        return false;
                                    }
                                </script>
                                    {% else %}
                                    <button><span style="color: red;">Indisponible</span></button>
                                    <button><a href="{% url 'restituer' Media.id %}">Restituer</a></button>
                                {% endif %}
                            {% elif instance.get_type == 'DVD' %}
                                - Réalisateur : {{ instance.realisateur }} 
                                <br>
                                {% if Media.disponible %}
                                <form action="{% url 'emprunter' Media.id 0 %}" method="get" onsubmit="return redirectToEmprunt(this)">
                                    <select name="membre_id" required>
                                        <option value="" disabled selected>Choisir un membre</option>
                                        {% for Membre in Membres %}
                                            <option value="{{ Membre.id }}">{{ Membre.prenom }} {{ Membre.nom }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit">Emprunter</button>
                                </form>
                                <script>
                                    function redirectToEmprunt(form) {
                                        let membreId = form.membre_id.value;
                                        if (!membreId) {
                                            alert("Veuillez sélectionner un membre !");
                                            return false;
                                        }
                                        let actionUrl = form.action.replace('/0/', `/${membreId}/`);
                                        window.location.href = actionUrl;
                                        return false;
                                    }
                                </script>
                                    {% else %}
                                    <button><span style="color: red;">Indisponible</span></button>
                                    <button><a href="{% url 'restituer' Media.id %}">Restituer</a></button>
                                {% endif %}
                            {% elif instance.get_type == 'CD' %}
                                - Interprète : {{ instance.interprete }} 
                                <br>
                                {% if Media.disponible %}
                                <form action="{% url 'emprunter' Media.id 0 %}" method="get" onsubmit="return redirectToEmprunt(this)">
                                    <select name="membre_id" required>
                                        <option value="" disabled selected>Choisir un membre</option>
                                        {% for Membre in Membres %}
                                            <option value="{{ Membre.id }}">{{ Membre.prenom }} {{ Membre.nom }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit">Emprunter</button>
                                </form>
                                <script>
                                    function redirectToEmprunt(form) {
                                        let membreId = form.membre_id.value;
                                        if (!membreId) {
                                            alert("Veuillez sélectionner un membre !");
                                            return false;
                                        }
                                        let actionUrl = form.action.replace('/0/', `/${membreId}/`);
                                        window.location.href = actionUrl;
                                        return false;
                                    }
                                </script>
                                    {% else %}
                                    <button><span style="color: red;">Indisponible</span></button>
                                    <button><a href="{% url 'restituer' Media.id %}">Restituer</a></button>
                                {% endif %}
                        {% endif %}
                    </p>
                {% endwith %}
            {% empty %}
                <p>Aucun média disponible.</p>
            {% endfor %}
            <h2>Créer un emprunt pour un média disponible</h2>
            <h2>Restituer un emprunt</h2>
        </div>
        <div>
            <h2>MEDIAS</h2>
            <div>
                <h3>Ajouter un Livre</h3>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {{ CreationLivre.as_p }}
                    <input type="submit" value="Envoyer">
                </form>
                <h3>Liste des Livres</h3>
                <ul>
                    {% for Livre in Livres %}
                    <li> 
                        Titre : {{ Livre.nom }} ¤ Auteur : {{ Livre.auteur }}
                        <button><a href="{% url 'modifier_livre' Livre.id %}">Modifier</a></button>
                        <button><a href="{% url 'supprimer_livre' Livre.id %}">Supprimer</a></button>
                    </li>
                    {% empty %}
                    <li>Aucun livre ajouté pour le moment.</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Ajouter un DVD</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ CreationDvd.as_p }}
                    <input type="submit" value="Ajouter DVD">
                </form>
                <h3>Liste des DVDs</h3>
                <ul>
                    {% for dvd in Dvds %}
                        <li>
                            Titre : {{ dvd.nom }} ¤ Réalisateur : {{ dvd.realisateur }}
                            <button><a href="{% url 'modifier_dvd' dvd.id %}">Modifier</a></button>
                            <button><a href="{% url 'supprimer_dvd' dvd.id %}">Supprimer</a></button>
                        </li>
                    {% empty %}
                        <li>Aucun DVD ajouté.</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Ajouter un CD</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ CreationCd.as_p }}
                    <input type="submit" value="Ajouter CD">
                </form>
                <h3>Liste des CDs</h3>
                <ul>
                    {% for cd in Cds %}
                        <li>
                            Titre : {{ cd.nom }} ¤ Interprète : {{ cd.interprete }}
                            <button><a href="{% url 'modifier_cd' cd.id %}">Modifier</a></button>
                            <button><a href="{% url 'supprimer_cd' cd.id %}">Supprimer</a></button>
                        </li>
                    {% empty %}
                        <li>Aucun CD ajouté.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <h2>Les jeux disponibles à la mediathèque</h2>
        </div>
    </main>
</body>
</html>