<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediatheque - interface bibliothécaire</title>
</head>
<body>
    <header>
        <div class="container home">
            <h1>Bienvenue bibliothécaire!</h1>
            <button><a href="{% url 'deconnexion' %}">Se déconnecter!</a></button>
        </div>
    </header>
    <main>
        <div>
            <h2>MEMBRES</h2>
        </div>
        <div>
            <h2>Créer un emprunt pour un média disponible</h2>
        </div>
        <div>
            <h2>MEDIAS</h2>
            <div>
                <h3>Ajouter un Livre</h3>
                <form action="" method="post" action="" novalidate>
                    {% csrf_token %}
                    {{ CreationLivre.as_p }}
                    <input type="submit" value="Envoyer">
                </form>
                <h3>Liste des Livres</h3>
                <ul>
                    {% for Livre in Livres %}
                    <li> 
                        Titre : {{ Livre.nom }}  Auteur : {{ Livre.auteur }}
                        <br>
                        <button><a href="{% url 'modifier_livre' Livre.id %}">Modifier</a></button> |
                        <button><a href="{% url 'supprimer_livre' Livre.id %}">Supprimer</a></button>
                    </li>
                    {% empty %}
                    <li>Aucun livre ajouté pour le moment.</li>
                    {% endfor %}
               </ul>
            </div>
            <div>
                <h3>Ajouter un DVD</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ CreationDvd.as_p }}
                    <input type="submit" value="Ajouter DVD">
                </form>
                <h3>Liste des DVDs</h3>
                <ul>
                    {% for dvd in Dvds %}
                        <li>
                            Titre : {{ dvd.nom }} | Réalisateur : {{ dvd.realisateur }}
                            <br>
                            <button><a href="{% url 'modifier_dvd' dvd.id %}">Modifier</a></button> |
                            <button><a href="{% url 'supprimer_dvd' dvd.id %}">Supprimer</a></button>
                        </li>
                    {% empty %}
                        <li>Aucun DVD ajouté.</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Ajouter un CD</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ CreationCd.as_p }}
                    <input type="submit" value="Ajouter CD">
                </form>
                <h3>Liste des CDs</h3>
                <ul>
                    {% for cd in Cds %}
                        <li>
                            Titre : {{ cd.nom }} | Interprète : {{ cd.interprete }}
                            <br>
                            <button><a href="{% url 'modifier_cd' cd.id %}">Modifier</a></button> |
                            <button><a href="{% url 'supprimer_cd' cd.id %}">Supprimer</a></button>
                        </li>
                    {% empty %}
                        <li>Aucun CD ajouté.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <h2>Rentrer un emprunt</h2>
        </div>
    </main>
</body>
</html>