<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediatheque - interface bibliothécaire</title>
</head>
<body>
    <header>
        <div class="container home">
            <h1>Bienvenue bibliothécaire!</h1>
            <button><a href="{% url 'deconnexion' %}">Se déconnecter!</a></button>
        </div>
    </header>
    <main>
        <div>
            <h2>MEMBRES</h2>
        </div>
        <div>
            <h2>Créer un emprunt pour un média disponible</h2>
        </div>
        <div>
            <h2>MEDIAS</h2>
            <div>
                <h3>Ajouter un Livre</h3>
                <form action="" method="post" action="" novalidate>
                    {% csrf_token %}
                    {{ CreationLivre.as_p }}
                    {% if CreationLivre.errors %}
                        <div class="errors">
                            {{ CreationLivre.errors }}
                        </div>
                    {% endif %}
                    <input type="submit" value="Envoyer">
                </form>
                <h3>Liste des Livres</h3>
                <ul>
                    {% for Livre in Livres %}
                    <li> 
                        Titre : {{ Livre.nom }}  Auteur : {{ Livre.auteur }}
                        <br>
                        <button><a href="{% url 'modifier_livre' Livre.id %}">Modifier</a></button> |
                        <button><a href="{% url 'supprimer_livre' Livre.id %}">Supprimer</a></button>
                    </li>
                    {% empty %}
                    <li>Aucun livre ajouté pour le moment.</li>
                    {% endfor %}
               </ul>
            </div>
            <div></div>
            <div></div>
        </div>
        <div>
            <h2>Rentrer un emprunt</h2>
        </div>
    </main>
</body>
</html>