<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediatheque</title>
</head>
<body>
    <header>
        <nav>
            <button><a href="{% url 'accueil' %}">Accueil bibliothécaire</a></button>
            <button><a href="{% url 'liste_livres_publique' %}">Livres</a></button>
            <button><a href="{% url 'liste_dvds_publique' %}">DVDs</a></button>
            <button><a href="{% url 'liste_cds_publique' %}">CDs</a></button>  
        </nav>
        <div class="container">
            <div class="form">
                <h1>Connexion bibliothécaire</h1>
                <form method="post" action="{% url 'connexion' %}">
                    {% csrf_token %}
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="username" required>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" required>
                    <button type="submit">Se connecter</button>
                </form>
                <p class="link">Pas encore inscrit ? <a href="{% url 'inscription' %}">S'inscrire</a></p>
            </div>
        </div>
    </header>
    <main>
        <h2>Choisir un média pour en avoir la liste</h2>
        <div>
            <ul>
                <li><a href="{% url 'liste_livres_publique' %}"><h3>Livres</h3></a></li>
                <li><a href="{% url 'liste_dvds_publique' %}"><h3>DVDs</h3></a></li>
                <li><a href="{% url 'liste_cds_publique' %}"><h3>CDs</h3></a></li>
            </ul>
            <ul>
            </ul>
        </div>
    </main>
   
</body>
</html>